<header class="header-section ">

  <div class="site-navbar">
    <!-- Logo -->
    <a href="index.html" class="site-logo">
      <img src="assets/img/logo.png" alt="">
    </a>
    <div class="header-right">
      <div class="header-info-box">

        <div class="hib-text">

          <button class="btn" routerLink="/register" ><i class="fa fa-user" >Register</i></button>

        </div>

      </div>
      <div class="header-info-box">

        <div class="hib-text">
          <button class="btn" routerLink="/login"><i class="fa fa-sign-in" >Log In</i></button>
        </div>
      </div>

    </div>
  </div>
</header>


<div class="container">
<div class="row"><!--Un equal columns (12 columns max size-->
  <div class="col-sm-4">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="assets/img/team/deepak.jpeg" alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
          <h1>Deepak Dantla </h1>
          <p><i class="fa fa-user">Full Stack Developer</i></p>
          <p><i class="fa fa-phone">+91 8968177705</i></p>
          <p><i class="fa fa-mail">deepakswarnabarath578@gmail.com</i></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="assets/img/team/tata.jpeg" alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
          <h1>Tata Kowshik</h1>
          <p><i class="fa fa-user">Full Stack Developer</i></p>
          <p><i class="fa fa-phone">+91 9492400299</i></p>
          <p><i class="fa fa-mail">tatakowshik@gmail.com</i></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="assets/img/team/tokala.jpeg" alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
          <h1>Rajesh Tokala</h1>
          <p><i class="fa fa-user">Full Stack Developer</i></p>
          <p><i class="fa fa-phone">+91 7287919261</i></p>
          <p><i class="fa fa-mail">rajesh.mp1998@gmail.com</i></p>
        </div>
      </div>
    </div>
  </div>
 <br><br>
  <div class="col-sm-4" style="margin-left:100px">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="assets/img/team/ponna.jpeg" alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
          <h1>Rajesh Ponnaganti</h1>
          <p><i class="fa fa-user">Full Stack Developer</i></p>
          <p><i class="fa fa-phone">+91 950168889</i></p>
          <p><i class="fa fa-mail">rajesh.ponnaganti8@gmail.com</i></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4" style="margin-left:100px">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="assets/img/team/veera.jpeg" alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
          <h1>Veeranjaneyulu Desaboina</h1>
          <p><i class="fa fa-user">Full Stack Developer</i></p>
          <p><i class="fa fa-phone">+91 9056687899</i></p>
          <p><i class="fa fa-mail">desaboinaveeranjaneyuludvr@gmail.com</i></p>
        </div>
      </div>
    </div>
  </div>
</div>


</div>
