<header>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
    <div>
      <a href="index.html" class="site-logo">
        <img src="assets/img/logo.png" alt="">
      </a>
    </div>

    <ul class="navbar-nav header-right">
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/menu" class="nav-link">Welcome</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/newLPG" class="nav-link">New LPG</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/book" class="nav-link">Book LPG</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/requestSubsidy" class="nav-link">Request Subsidy</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/giveUp" class="nav-link">GiveUp Subsidy</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/orders" class="nav-link">Orders</a></li>
      <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a></li>


    </ul>
  </nav>
</header>
