<!--
<header class="header-section ">

  <div class="site-navbar">
    &lt;!&ndash; Logo &ndash;&gt;
    <a href="index.html" class="site-logo">
      <img src="assets/img/logo.png" alt="">
    </a>

<div class="header-right">
  <div class="header-info-box">

    <div class="hib-text">

      <button class="btn" ><a  routerLink="/menu" ><i class="fa fa-user" >Home</i></a></button>

    </div>

  </div>
  <div class="header-info-box">

    <div class="hib-text">
      <button class="btn"><a  routerLink="/book" ><i class="fa fa-sign-in" >Book LPG</i></a></button>
    </div>
  </div>
  <div class="header-info-box">

    <div class="hib-text">
      <button class="btn" ><a  routerLink="/orders" ><i class="fa fa-sign-in" >Orders</i></a></button>
    </div>
  </div>
</div>
  </div>
</header>
-->
<app-header></app-header>
<div id="div1" >
  <h1 >Welcome {{user()}}</h1>
</div>

<img src="assets/img/menu.jpg" width="50%" style="margin-left: 280px">


