<!-- Page Preloder -->
<!--<div id="preloder">
  <div class="loader"></div>
</div>-->

<!-- Header section  -->
<header class="header-section ">

  <div class="site-navbar">
    <!-- Logo -->
    <a href="index.html" class="site-logo">
      <img src="assets/img/logo.png" alt="">
    </a>
   <div class="header-right">
      <div class="header-info-box">

        <div class="hib-text">

          <button class="btn" routerLink="/register" ><i class="fa fa-user" >Register</i></button>

        </div>

      </div>
      <div class="header-info-box">

        <div class="hib-text">
          <button class="btn" routerLink="/login"><i class="fa fa-sign-in" >Log In</i></button>
        </div>
      </div>

   </div>
  </div>
</header>
  <!--</div>
  <nav class="navbar navbar bg-info">


    <ul class="navbar nav">
      <li class="nav-item "><a routerLink="/login" style="color: aliceblue;">Login</a></li>&nbsp;&nbsp;&nbsp;
      <li class="nav-item "><a routerLink="/register" style="color: aliceblue;">Create Account</a></li>&nbsp;&nbsp;&nbsp;

    </ul>-->


<!-- Header section end  -->


<img src="assets/img/hero-slider/image2.jpg">


<!-- Services section  -->
<section class="services-section">
  <div class="services-warp">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            <div class="si-head">
              <div class="si-icon">
                <img src="assets/img/icons/book3.jpg" alt="">
              </div>
              <h5>LPG Booking</h5>
            </div>
            <p>Helps you in booking of LPG Cylinder from your location with just one click </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            <div class="si-head">
              <div class="si-icon">
                <img src="assets/img/icons/book.png" alt="">
              </div>
              <h5>New LPG Connection</h5>
            </div>
            <p>No more Queues and filling up Forms to get LPG Connection.Helps you in applying for a new LPG Connection</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            <div class="si-head">
              <div class="si-icon">
                <img src="assets/img/icons/sub3.jpg" alt="">
              </div>
              <h5>Join PAHAL</h5>
            </div>
            <p>PAHAL is a scheme through which you can get Subsidy with just one click. </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            <div class="si-head">
              <div class="si-icon">
                <img src="assets/img/icons/sub4.jpg" alt="">
              </div>
              <h5>Give Up Susbisy</h5>
            </div>
            <p>Giving Up Your Subsidy to help the poor by just one click .No more Filling Forms..</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            <div class="si-head">
              <div class="si-icon">
                <img src="assets/img/icons/track.png" alt="">
              </div>
              <h5>Express Delivery</h5>
            </div>
            <p> Delivery of LPG Cylinder is fast,safe and secure.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            <div class="si-head">
              <div class="si-icon">
                <img src="assets/img/icons/feedback.png" alt="">
              </div>
              <h5>User FeedBack</h5>
            </div>
            <p>Give Your Valuable Suggestions to improve Us!!.We are always happy to serve like you choose..</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services section end  -->
<h1>Support</h1>

<!-- Features section   -->
<section class="features-section spad set-bg" data-setbg="assets/img/features-bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="feature-box">
          <img src="assets/img/support/support1.jpg" alt="">
          <div class="fb-text">
            <h5>Industry support</h5>
            <p>We make tieUps with the Oil & Gas Industries . We  deliver our services with atmost care and quality.
            We are approved by Government to serve all.</p>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="feature-box">
          <img src="assets/img/support/tsupport.jpg" alt="support">
          <div class="fb-text">
            <h5>Technical Support</h5>
            <p> We are a passionate Team having only goal to serve all .We address your queries,complaints and feedback with open heart and improve on the same</p>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="feature-box">
          <img src="assets/img/support/support4.png" alt="">
          <div class="fb-text">
            <h5>24 X 7 Support</h5>
            <p> We deliver our services regarding LPG to all irrespective of date and time .We are open 24 X 7 Everyday </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Features section end  -->
<h2>Why Choose Us ??</h2>
<!--why choose us-->
<section class="services-section">

  <div class="services-warp">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            <div class="si-head">
              <div class="si-icon">
                <img src="assets/img/choose/quality.png" alt="">
              </div>
              <h5>Quality</h5>
            </div>
            <p>We deliver services with atmost Quality </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            <div class="si-head">
              <div class="si-icon">
                <img src="assets/img/choose/click.png" alt="">
              </div>
              <h5>One Click</h5>
            </div>
            <p>All Services are available to all with only one click</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            <div class="si-head">
              <div class="si-icon">
                <img src="assets/img/choose/passion.jpg" alt="">
              </div>
              <h5>We are Passionate</h5>
            </div>
            <p>We are eagerly waiting to do service to all </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            <div class="si-head">
              <div class="si-icon">
                <img src="assets/img/choose/service.jpg" alt="">
              </div>
              <h5>24 X 7 Support</h5>
            </div>
            <p>We deliver our services with 24 X 7 Support </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            <div class="si-head">
              <div class="si-icon">
                <img src="assets/img/choose/reliability.png" alt="">
              </div>
              <h5>Reliability</h5>
            </div>
            <p>Share your details .We are authorized by Government</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            <div class="si-head">
              <div class="si-icon">
                <img src="assets/img/choose/response.png" alt="">
              </div>
              <h5>Less Response Time</h5>
            </div>
            <p>We respond to your Queries in less time </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services section end  -->




<!-- Call to action section  -->
<section class="cta-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center">
        <h2>We Serve with Passion</h2>
      </div>
      <div class="col-lg-3 text-lg-right" >
        <a routerLink="/contactUs" class="site-btn sb-dark">Contact Us</a>
      </div>
      <div class="col-lg-3 text-lg-right" >
        <a routerLink="/aboutUs" class="site-btn sb-dark">About Us</a>
      </div>
    </div>
  </div>
</section>

<!-- Call to action section end  -->




